<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RPi - Home Heating System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css">  <!-- black original, teal looks good, cyan, deep-orange many color available!-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- icon ref https://stackoverflow.com/questions/13049636/adding-apple-icon-to-website-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}"><!-- iPhone 57 px-->
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon.ico') }}"><!-- iPad 72 px-->
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon.ico') }}"><!-- iPhone4 114ps -->
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"><!-- Opera Speed Dial, at least 144×114 px -->
	<!-- end icon ref -->

	<!-- <link href="https://www.flotcharts.org/flot/examples/examples.css" rel="stylesheet" type="text/css">-->
	
	<link href="{{ url_for('static', filename='flotgraph.css') }}" rel="stylesheet" type="text/css">
	
	<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
	.w3-sidebar {
	  z-index: 3;
	  width: 250px;
	  top: 43px;
	  bottom: 0;
	  height: inherit;
	}
	</style>
	
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.canvaswrapper.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.colorhelpers.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.flot.saturated.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.flot.browser.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.flot.drawSeries.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.flot.axislabels.js"></script>
	<script language="javascript" type="text/javascript" src="https://www.flotcharts.org/flot/source/jquery.flot.uiConstants.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>

	<script type="text/javascript">
		$.ajax({
			url: 'http://localhost:5000/graphdata',
			type: 'GET',
			dataType: 'json',
			success: function(data) {
				//plot
				$(document).ready(function () {

					options = {
						xaxes: [
							{ mode: "time" }
						],
						yaxes: [
							{ position: 'left', axisLabel: 'Temp (C)', showTickLabels: 'none', show: true },
							{ position: 'right', axisLabel: 'On/Off', show: true, showTickLabels: 'none', showTicks: false, gridLines: false }
						]
					};

					var indices = []
					var fdata = []
					
					indices = [0,1,2,3];
					fdata = data.filter(function(obj, index) {
						return indices.includes(index);
					});
					fdata[0].yaxis=1;
					fdata[1].yaxis=1;
					fdata[2].yaxis=1;
					fdata[3].yaxis=2;
					$.plot( $("#mainplot"),fdata,options);

					indices = [4,5,6,7];
					fdata = []
					fdata = data.filter(function(obj, index) {
						return indices.includes(index);
					});
					fdata[0].yaxis=1;
					fdata[1].yaxis=1;
					fdata[2].yaxis=1;
					fdata[3].yaxis=2;
					$.plot( $("#upstairplot"),fdata,options);

					indices = [8,9,10,11];
					fdata = []
					fdata = data.filter(function(obj, index) {
						return indices.includes(index);
					});
					fdata[0].yaxis=1;
					fdata[1].yaxis=1;
					fdata[2].yaxis=1;
					fdata[3].yaxis=2;
					$.plot( $("#garageplot"),fdata,options);

					options.yaxes[1].show=false;

					indices = [12,13];
					fdata = []
					fdata = data.filter(function(obj, index) {
						return indices.includes(index);
					});
					$.plot( $("#outtempplot"),fdata,options);
					
					indices = [14,15];
					fdata = []
					fdata = data.filter(function(obj, index) {
						return indices.includes(index);
					});
					$.plot( $("#watertempplot"),fdata,options);
					
					indices = [16,17];
					fdata = []
					fdata = data.filter(function(obj, index) {
						return indices.includes(index);
					});
					$.plot( $("#waterdtplot"),fdata,options);
					
				});
			}
		});
	</script>

</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-theme-l1">RPi-HeatingSys</a>
    <a href="home" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
    <a href="control" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Control</a>
    <a href="graph" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Graph</a>
    <a href="data" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Data</a>
    <a href="data_ys" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Data YS</a>
    <a href="info" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Info</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="home">Home</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="control">Control</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="graph">Graph</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="data">Data</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="data_ys">Data YS</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="info">Info</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- START MAIN -->
<!-- shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
	
	<div class="w3-row w3-padding-64">
	<div class="w3-container">
	  <h2>Today's graph</h2>
	  <p>Temperature for upstairs (U), main (M), garage (G) zones and heated water temperature</p>
	  <p>Current time: {{currentTime}}</p>
		
	</div>

	<!-- GRAPH SECTION -->
	<div class="graph-container">
		<div id="mainplot" class="graph-placeholder "></div>
	</div>
	<div class="graph-container">
		<div id="upstairplot" class="graph-placeholder "></div>
	</div>
	<div class="graph-container">
		<div id="garageplot" class="graph-placeholder "></div>
	</div>
	<div class="graph-container">
		<div id="outtempplot" class="graph-placeholder "></div>
	</div>
	<div class="graph-container">
		<div id="watertempplot" class="graph-placeholder "></div>
	</div>
	<div class="graph-container">
		<div id="waterdtplot" class="graph-placeholder "></div>
	</div>
	
	
	</div>	
	
<!-- FOOTER -->	
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Heating System Control and Web App Design by Benoit Picard <a href="mailto:picard.benoit@gmail.com">picard.benoit@gmail.com</a></h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> and <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
